@keyframes shrink {
  0%{width:80px;
      height: 80px}
  99%{width: 5px;
        height: 5px;}
  100%{width:4px;
      height: 4px}
}

body{
  text-align: center;
  background-color: rgb(214, 168, 219,0.5);
  font-family: fantasy;
  color: black;
}

.container{
  width: 800px;
  height: 500px;
  background-color: black;
  margin: 5% auto;
  position: relative;
}

.player{
  height:20px;
  width:20px;
  background: firebrick;
  border-radius: 50%;
  position: absolute;
  position: absolute;
  left: 400px;
  top: 250px;
}

.newdiv{
  background-color: rgb(96, 164, 247,0.8);
  border: solid 1px white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;

}

.add-animation{
  animation: shrink;
  animation-duration: 2.5s;
  /* animation-iteration-count: infinite; */

}
.heart, .points, .morePoints{
  position: absolute;
}
#info{
  background-color: blue;
  height: 100%;
  width: 100%;
  z-index: 9;
  position: absolute;
}

#gameOver{
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  background-color: red;
}
