@keyframes shrink {
  0%{width:80px;
      height: 80px}
  99%{width: 5px;
        height: 5px;}
  100%{width:4px;
      height: 4px}
}

body{
  text-align: center;
  background-color: rgb(214, 168, 219,0.5);
  font-family: 'Russo One', sans-serif;
  color: yellow;
  background-image: url(../images/space-bg4.jpg);
  background-size: cover;
  font-size: 1.5em;
  margin: 0;
}
main{
  /* height: 100vh; */
}
.title{
  color: yellow;
  font-size: 3em;

	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;

}
.container{
  width: 800px;
  height: 500px;
  background-color: black;
  background-image: url(../images/space-bg2.jpg);
  background-size: cover;
  margin: 5% auto;
  position: relative;
  border: solid 5px yellow;
  margin-top: 10px;
  margin-bottom: 0;
}

.player{
  /* height:20px;
  width:20px;
  background: firebrick;
  border-radius: 50%; */
  position: absolute;
  position: absolute;
  left: 400px;
  top: 250px;
}

.newdiv{
  background-color: rgb(96, 164, 247,0.6);
  border: solid 1px white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;

}

.add-animation{
  animation: shrink;
  animation-duration: 2.5s;
  /* animation-iteration-count: infinite; */

}
.heart, .points, .morePoints{
  position: absolute;
}
#info{
  background:linear-gradient(rgb(128,128,128,0.3),
   rgb(128,128,128,0.3)), url(../images/space-bg.png);
   /* background-image: linear-gradient(rgb(128,128,128,0.3); */
  /* background-size: cover; */
  height: 100%;
  font-size: 0.9em;
  width: 100%;
  z-index: 9;
  position: absolute;
  color: yellow;
  font-family: 'M PLUS 1p', sans-serif;
  overflow: scroll;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#gameOver{
  display: flex;
  align-items: center;
  background-image: url(../images/space-bg.png);
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
  justify-content: center;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.navigation{
  display: flex;
  /* justify-content: center; */
  align-content: space-between;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
}
.buttons{
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.gamebutton{
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(0,0,0);
  color: yellow;
  border-color: yellow;
  letter-spacing: 2px;
  font-size: .8em;
  /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}
.gamebutton:hover{
  background-color: #999;
}
.lifeCounter{
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  flex: 3;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.pointCounter{
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  flex: 3;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.change{
  padding-left: 10px;
}
.item{
  opacity: 0.8;
}
