
/* Animations */
@keyframes shrink {
  0%{width:80px;
      height: 80px}
  99%{width: 5px;
        height: 5px;}
  100%{width:4px;
      height: 4px}
}

body{
  text-align: center;
  /* background-color: rgb(214, 168, 219,0.5); */
  font-family: 'Russo One', sans-serif;
  color: yellow;
  background-image: url(../images/space-bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.5em;
  padding: 0;
  height: 100vh;
  margin: 0;
}
main{
  margin-bottom: 4%;
  padding-top: 5%;
}
.title{
  font-family: 'Russo One', sans-serif;
  color: yellow;
  font-size: 3em;

  margin-top: 30px;

	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;

}
.container{
  width: 800px;
  height: 500px;
  background-color: black;
  background-image: url(../images/bg3.png);
  background-size: cover;
  margin: 5% auto;
  position: relative;
  border: solid 5px yellow;
  margin-top: 10px;
  margin-bottom: 0;
}

.player{
  height:60px;
  width:40px;
  /* background: firebrick;
  border-radius: 50%;  */
  position: absolute;
  left: 400px;
  top: 250px;
}

.newdiv{
  background-color: rgb(96, 164, 247,0.6);
  border: solid 1px white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;

}

.add-animation{
  animation: shrink;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */

}
.heart, .points, .morePoints{
  position: absolute;
}
#info{
  background:linear-gradient(rgb(128,128,128,0.3),
   rgb(128,128,128,0.3)), url(../images/space-bg.png);
   /* background-image: linear-gradient(rgb(128,128,128,0.3); */
  /* background-size: cover; */
  height: 100%;
  font-size: 0.9em;
  width: 100%;
  z-index: 9;

  position: absolute;
  color: yellow;
  font-family: 'M PLUS 1p', sans-serif;
  overflow: scroll;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#info p{
  padding-left: 10px;
  padding-right: 10px;
}

#gameOver{
  display: flex;
  align-items: center;
  background-image: url(../images/space-bg.png);
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
  justify-content: center;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.navigation{
  display: flex;
  /* justify-content: center; */
  align-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.buttons{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.stats{
  display: flex;
  flex: 7;
  align-content: space-between;
}

.gamebutton{
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
  background-color: rgb(0,0,0);
  color: yellow;
  border-color: yellow;
  letter-spacing: 2px;
  font-size: .8em;
}
.gamebutton:hover{
  background-color: #999;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.lifeCounter{
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
}
.pointCounter{
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
}
.change{
  padding-left: 10px;
}
.item{
  opacity: 0.8;
}
.container1{
  position: relative;
  margin-bottom: 10px;
}
.highscore{
  display: flex;
  flex-direction: column;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  flex: 3;
  letter-spacing: 2px;
}
#highscore, #points, #lives{
  margin-top: 0;
}

@media (max-width:820px) {
  .container, .navigation{
    width: 95%;
  }
}
@media (max-width:550px) {
  .container{
    background-image: url(../images/bg3flip.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
